
@{
    ViewData["Title"] = "NotValid";
}

<h1>Not Valid</h1>
<h2>This Saloon does not exist in this cinema or This Show you trying to book is already occupied</h2>
<div>
    <a asp-action="Create">Back to Create Show</a>
</div>